
@model CreateContactDto

<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Send a message
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" asp-action="Index" novalidate>
                        <div>
                            <input type="text" asp-for="FullName" class="form-control @(ViewData.ModelState["FullName"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Your Full Name" />
                            <span asp-validation-for="FullName" class="invalid-feedback"></span>
                        </div>
                        <div>
                            <input type="email" asp-for="Email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Your Email" />
                            <span asp-validation-for="Email" class="invalid-feedback"></span>
                        </div>
                        <div>
                            <input type="text" asp-for="Title" class="form-control @(ViewData.ModelState["Title"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Title" />
                            <span asp-validation-for="Title" class="invalid-feedback"></span>
                        </div>
                        <div>
                            <textarea type="text" rows="5" asp-for="Subject" class="form-control @(ViewData.ModelState["Subject"]?.Errors.Count > 0 ? "is-invalid" : "")" placeholder="Subject..." >
                                </textarea>
                            <span asp-validation-for="Subject" class="invalid-feedback"></span>
                        </div>
                        <div class="btn_box">
                            <button type="submit">
                               Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->
