
<h4 class="page-title">Reservations</h4>
<div class="card">
	<div class="card-header">
		<div class="card-title">All Reservations</div>
		<a class="btn btn-info" asp-action="ReservationAdd" asp-controller="Reservation" asp-area="Admin"><i class="la la-plus"></i> Add New Reservation</a>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Customer Name</th>
					<th scope="col">Phone Number</th>
					<th scope="col">Customer Email</th>
					<th scope="col">Number Of People</th>
					<th scope="col">Reservation Date</th>
					<th scope="col">Update</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody id="bookinglist">
			
			</tbody>
		</table>
	</div>
</div>
@section Scripts {
	<script>
		$(function () {
			var connection = new signalR.HubConnectionBuilder()
				.withUrl("https://localhost:7295/SignalRHub")
				.build();

			connection.start().then(function () {
				connection.invoke("GetReservationList"); // İlk yükleme
				setInterval(() => {
					connection.invoke("GetReservationList"); // Periyodik güncelleme
				}, 5000);
			}).catch(function (err) {
				console.error(err.toString());
			});

			connection.on("ReceiveReservationList", (values) => {
				$("#bookinglist").empty();
				values.forEach((item, index) => {
					$("#bookinglist").append(`
						<tr>
							<td>${index}</td>
							<td>${item.customerName}</td>
							<td>${item.phoneNumber}</td>
							<td>${item.userMail}</td>
							<td><span class="badge badge-count">${item.numberOfCustomer}</span></td>
							<td><span class="badge badge-primary">${new Date(item.reservationDate).toLocaleDateString("en-US", { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}</span></td>
							<td><a href="/Admin/Reservation/ReservationUpdate?reservationId=${item.reservationId}" class="btn btn-success"><i class="la la-edit"></i> Update</a></td>
							<td><a href="/Admin/Reservation/ReservationDelete?reservationId=${item.reservationId}" class="btn btn-danger"><i class="la la-trash"></i> Delete</a></td>
						</tr>
					`);
				});
			});
		});
	</script>
}
