<div class="container mt-5">
    <div class="row">
         <div class="col-12">
             <h3 class="text-center mb-4">Chat With Us</h3>
         </div>
    </div>
    <div class="row p-1">
        <label class="col-form-label">Name:</label>
        <input type="text" id="userinput" class="form-control"/>
    </div> 
    <div class="row p-1">
        <label class="col-form-label">Your Message:</label>
        <input type="text" id="messageinput" class="form-control"/>
    </div>
    <div class="row p-1">
        <button id="sendmessage" class="btn btn-warning">Send Message</button>
     </div>
    <div class="row p-1">
            <div class="col-12">
                <hr/>
            </div>
    </div>
     
    <div class="row p-1">
        <div class="col-12">
            <ul id="messagelist" class="list-group">

            </ul>
        </div>
    </div>

</div>