
<!-- offer section -->
@await Component.InvokeAsync("UIOfferSection")

<!-- end offer section -->

<!-- food section -->
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>
        @await Component.InvokeAsync("UIFoodFilterMenu")
        @await Component.InvokeAsync("UIFoodFilterContent")
        <div class="btn-box">
            <a asp-controller="Menu" asp-action="Index">
                View More
            </a>
        </div>
    </div>
</section>
<!-- end food section -->
<!-- about section -->
@await Component.InvokeAsync("UIAboutSection")

<!-- end about section -->
<!-- book section -->
@await Component.InvokeAsync("UIContactForm")
<!-- end book section -->
<!-- client section -->
@await Component.InvokeAsync("UITestimonialSection")

<!-- end client section -->
@section Scripts{
    <script>
                   function getfoodid(value) {
            $.ajax({
                type: "POST",
                url: `/Menu/AddToBasket/${value}`,
                success: function () {
                    swal("Your meal added to basket.", "", "success");
                },
                error: function (xhr) {
                    swal("Error", xhr.responseText || "An error occurred.", "error");
                }
            });
        }
    </script>
}