@model CreateSocialLinkDto
<h4 class="page-title">Add New Social Account</h4>

<div class="card">
	<div class="card-header">
		<div class="card-title">Insertion Form</div>
	</div>
	<form asp-action="LinkAdd" method="post">
		<div class="card-body">
			<div class="form-group">
				<label asp-for="PlatformName">Platform Name</label>
				<input asp-for="PlatformName" type="text" class="form-control input-pill">
			</div>
			<div class="form-group">
				<label asp-for="Url">Account Url</label>
				<input asp-for="Url" type="text" class="form-control input-pill">
			</div>
			
			<div class="form-group">
				<label asp-for="IconClass">Icons</label>
				<select class="form-control input-pill" asp-for="IconClass" >
					<option value="">Choose a Platform For Icon</option>
					<option value="fa fa-facebook"><i class="fa fa-facebook"></i> Facebook</option>
					<option value="fa fa-instagram"><i class="fa fa-instagram"></i>Instagram</option>
					<option value="fa fa-linkedin"><i class="fa fa-linkedin"></i> Linkedin</option>
					<option value="fa fa-pinterest"><i class="fa fa-pinterest"></i> Pinterest</option>
				</select>
			</div>
		</div>
		<div class="card-action">
			<button class="btn btn-success" type="submit"><i class="la la-check-circle"></i> Submit</button>
			<a class="btn btn-danger" asp-action="Index" asp-controller="SocialLink" asp-area="Admin"><i class="la la-close"></i> Cancel</a>
		</div>
	</form>
</div>