<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        @await Component.InvokeAsync("UIAboutSection")
    </div>
</section>

<!-- end about section -->