<h4 class="page-title">Dashboard</h4>
<div class="row">
	@*Category Count*@
	<div class="col-md-3">
		<div class="card card-stats card-warning">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-tags"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Categories</p>
							<h4 class="card-title" id="categorycount">*</h4>
							<small class="text-white">Active: <span id="activecategorycount">*</span></small><br />
							<small class="text-white">Passive: <span id="passivecategorycount">*</span></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*Food Count*@
	<div class="col-md-3">
		<div class="card card-stats card-success">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-cubes"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Foods</p>
							<h4 class="card-title" id="foodcount">*</h4>
							<small class="text-white">Active: <span id="activefoodcount">*</span></small><br />
							<small class="text-white">Passive: <span id="passivefoodcount">*</span></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*Reservations Count*@
	<div class="col-md-3">
		<div class="card card-stats card-danger">
			<div class="card-body">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-calendar"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Bookings</p>
							<h4 class="card-title" id="bookingcount">*</h4>
							<small class="text-white">Active: <span id="activebookingcount">*</span></small><br />
							<small class="text-white">Passive: <span id="passivebookingcount">*</span></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*Order Count*@
	<div class="col-md-3">
		<div class="card card-stats card-primary">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-check-circle"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Orders</p>
							<h4 class="card-title" id="ordercount">*</h4>
							<small class="text-white">Active: <span id="activeordercount">*</span></small><br />
							<small class="text-white">Completed: <span id="passiveordercount">*</span></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*Total Revenue*@
	<div class="col-md-3">
		<div class="card card-stats">
			<div class="card-body ">
				<div class="row">
					<div class="col-5">
						<div class="icon-big text-center">
							<i class="la la-diamond text-warning"></i>
						</div>
					</div>
					<div class="col-7 d-flex align-items-center">
						<div class="numbers">
							<p class="card-category">Total Revenue</p>
							<h4 class="card-title" id="totalrevenue">$0.00</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    @*Daily Income*@
	<div class="col-md-3">
						<div class="card card-stats">
										<div class="card-body ">
											<div class="row">
												<div class="col-5">
													<div class="icon-big text-center">
														<i class="la la-bar-chart text-success"></i>
													</div>
												</div>
												<div class="col-7 d-flex align-items-center">
													<div class="numbers">
														<p class="card-category">Daily Revenue</p>
							<h4 class="card-title" id="dailyrevenue">$0.00</h4>
													</div>
												</div>
											</div>
										</div>
						</div>
								</div>
    @*Avaliable Tables*@
	<div class="col-md-3">
									<div class="card card-stats">
										<div class="card-body">
											<div class="row">
												<div class="col-5">
													<div class="icon-big text-center">
							<i class="
la la-table text-danger"></i>
													</div>
												</div>
												<div class="col-7 d-flex align-items-center">
													<div class="numbers">
														<p class="card-category">Avaliable Tables</p>
														<h4 class="card-title" id="avaliabletables">*</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
   @*Testimonial Count*@
	<div class="col-md-3">
									<div class="card card-stats">
										<div class="card-body">
											<div class="row">
												<div class="col-5">
													<div class="icon-big text-center">
							<i class="la la-comments text-primary"></i>
													</div>
												</div>
												<div class="col-7 d-flex align-items-center">
													<div class="numbers">
														<p class="card-category">Testimonials</p>
														<h4 class="card-title" id="testimonialcount">*</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> 
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">Available Tables</div>
			</div>
			<div class="card-body">
				<table class="table table-head-bg-success">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Table Name</th>
							<th scope="col">Capacity</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody id="availabletableslist">
						
					</tbody>
				</table>
				<div class="card-header">
				<div class="card-title">Occupied Tables</div>
			</div>
				<table class="table table-head-bg-warning mt-4">
					<thead>
						<tr>
						    <th scope="col">#</th>
							<th scope="col">Table Name</th>
							<th scope="col">Capacity</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody id="occupiedtableslist">
					
					</tbody>
				</table>
			</div>
		</div>
	</div >
</div>

@section Scripts {

	<script>
	$(function () {
	var connection = new signalR.HubConnectionBuilder()
		.withUrl("https://localhost:7295/SignalRHub")
		.build();

		connection.start().then(function () {
				connection.invoke("GetAllDashboardData");
				connection.invoke("GetAvailableTables");
				connection.invoke("GetOccupiedTables");

				        setInterval(() => {
					        connection.invoke("GetAllDashboardData");
						    connection.invoke("GetAvailableTables");
				            connection.invoke("GetOccupiedTables");
				        }, 1000);

		      })
			  .catch(function (err) {
				console.error(err.toString());
			  });

			connection.on("ReceiveAllDashboardData", (data) => {
	 			$("#categorycount").text(data.categoryCounts.totalCount);
				$("#activecategorycount").text(data.categoryCounts.activeCount);
				$("#passivecategorycount").text(data.categoryCounts.passiveCount);

				$("#foodcount").text(data.foodCounts.totalCount);
				$("#activefoodcount").text(data.foodCounts.activeCount);
				$("#passivefoodcount").text(data.foodCounts.passiveCount);

				$("#ordercount").text(data.orderCounts.totalCount);
				$("#activeordercount").text(data.orderCounts.activeCount);
				$("#passiveordercount").text(data.orderCounts.passiveCount);

				$("#bookingcount").text(data.reservationCounts.totalCount);
				$("#activebookingcount").text(data.reservationCounts.activeCount);
				$("#passivebookingcount").text(data.reservationCounts.passiveCount);

				$("#dailyrevenue").text(`$${Number(data.dailyRevenue).toFixed(2)}`);
				$("#testimonialcount").text(data.testimonialCount);
				$("#totalrevenue").text(`$${Number(data.totalCaseAmount).toFixed(2)}`);
				$("#avaliabletables").text(data.avaliableTableCount);
			});

			connection.on("ReceiveAvailableTables",(values)=>{
			        $("#availabletableslist").empty();
			         values.forEach((item,index) =>{
			            $("#availabletableslist").append(`
		                 <tr>
							<td>${index}</td>
							<td>${item.tableNumber}</td>
							<td>${item.capacity}</td>
							<td><span class="badge badge-success">Available</span></td>
						</tr>
			            `);
			        });
			});

			connection.on("ReceiveOccupiedTables",(values)=>{
			        $("#occupiedtableslist").empty();
			         values.forEach((item,index) =>{
			            $("#occupiedtableslist").append(`
		                 <tr>
							<td>${index}</td>
							<td>${item.tableNumber}</td>
							<td>${item.capacity}</td>
							<td><span class="badge badge-warning">Occupied</span></td>
						</tr>
			            `);
			        });
			});
	
	});
	</script>
}
