@model CreateSliderDto
<h4 class="page-title">Add New Feature</h4>

<div class="card">
	<div class="card-header">
		<div class="card-title">Insertion Form</div>
	</div>
	<form asp-action="SliderAdd" method="post">
		<div class="card-body">
			<div class="form-group">
				<label asp-for="SliderTitle">Slider Title</label>
				<input asp-for="SliderTitle" type="text" class="form-control input-pill">
			</div>
			<div class="form-group">
				<label asp-for="SliderDescription">Description</label>
				<textarea class="form-control" asp-for="SliderDescription" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label asp-for="ButtonLabel">Button Text</label>
				<input asp-for="ButtonLabel" type="text" class="form-control input-pill">
				<label asp-for="ButtonUrl">Button Link</label>
				<input asp-for="ButtonUrl" type="text" class="form-control input-pill">
			</div>
			<div class="form-group">
				<label asp-for="ImageUrl">Slider Image Url</label>
				<input asp-for="ImageUrl" type="text" class="form-control input-pill">
			</div>

			<div class="form-group">
				<label asp-for="FeatureStatus">Is Active</label>
				<input asp-for="FeatureStatus" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-style="btn-round">
			</div>
		</div>
		<div class="card-action">
			<button class="btn btn-success" type="submit"><i class="la la-check-circle"></i> Submit</button>
			<a class="btn btn-danger" asp-action="Index" asp-controller="Slider" asp-area="Admin"><i class="la la-close"></i> Cancel</a>
		</div>
	</form>
</div>