<h4 class="page-title">Notifications</h4>
<div class="card">
	<div class="card-header">
		<div class="card-title">All Notifications</div>
		<a class="btn btn-info" asp-action="NotificationAdd" asp-controller="Notification" asp-area="Admin"><i class="la la-plus"></i> Add New Notification</a>
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Notification Type</th>
					<th scope="col">Description </th>
					<th scope="col">Date</th>
					<th scope="col">Is read </th>
					<th scope="col">Update</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody id="notificationtablelist">
			</tbody>
		</table>
	</div>
</div>
@section Scripts {
	<script>
		$(function () {
			var connection = new signalR.HubConnectionBuilder()
				.withUrl("https://localhost:7295/SignalRHub")
				.build();

			connection.start().then(function () {
				connection.invoke("GetNotificationList"); // İlk yükleme
				setInterval(() => {
					connection.invoke("GetNotificationList"); // Periyodik güncelleme
				}, 3000);
			}).catch(function (err) {
				console.error(err.toString());
			});

			connection.on("ReceiveNotificationList", (values) => {
				$("#notificationtablelist").empty();
				values.forEach((item, index) => {
					$("#notificationtablelist").append(`
						<tr>
							<td>${item.notificationId}</td>
							<td>${item.notificationType}</td>
							<td>${item.Description}</td>
							<td><span class="badge badge-primary">${new Date(item.notificationDate).toLocaleDateString("en-US", { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })}</span></td>
							<td><span class="badge badge-${item.status ? 'success' : 'danger'}">${item.status ? 'Read' : 'Unread'}</span></td>
							<td><a href="/Admin/Notification/NotificationUpdate?notificationId=${item.notificationId}" class="btn btn-success"><i class="la la-edit"></i> Update</a></td>
							<td><a href="/Admin/Notification/NotificationDelete?notificationId=${item.notificationId}" class="btn btn-danger"><i class="la la-trash"></i> Delete</a></td>
						</tr>
					`);
				});
			});
		});
	</script>
}
