@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    // var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("UIHeader")
</head>
<body class="@(currentController=="Home" ? "" : "sub_page")">
    <div class="hero_area">
            <div class="bg-box">
                <img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
            </div>
        @if (currentController == "Home")
        {
            @await Component.InvokeAsync("UIAppBar")
            @await Component.InvokeAsync("UIAppBarSlider")
        }
        else
        {
            @await Component.InvokeAsync("UIAppBar")
        }

    </div>

   <div>
            @RenderBody()
   </div>
  

@await Component.InvokeAsync("UIFooter")
   @await Component.InvokeAsync("UIScripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
