
@model List<ResultSocialLinkDto>
<div class="footer_social">
    @foreach (var item in Model)
    {
        
    <a href="@item.Url">
        <i class="@item.IconClass" aria-hidden="true"></i>
    </a>
    }
</div>